<h1>Issues</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Owner Avatar</th>
      <th>Title</th>
      <th>Description</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="issue-list">
    <% if (viewData?.issues?.length) { %>
      <% for (const issue of viewData.issues) { %>
        <tr data-id="<%= issue.iid %>">
          <td>
            <img src="<%= issue.ownerAvatar %>" alt="Owner Avatar" crossorigin="anonymous" class="user-img">
          </td>
          <td>
            <%= issue.title %>
          </td>
          <td>
            <%= issue.description %>
          </td>
          <td class="state-column">
            <%= issue.state %>
          </td>
          <td class="state-btn-column">
            <% if (issue.state==='opened' ) { %>
              <form action="./issues/<%= issue.iid %>/close" method="POST">
                <button type="submit" class="btn btn-primary btn-opened">Close issue</button>
              </form>
              <% } else { %>
                <form action="./issues/<%= issue.iid %>/open" method="POST">
                  <button type="submit" class="btn btn-secondary btn-closed">Open issue</button>
                </form>
              <% } %>
          </td>
        </tr>
        <% } %>
          <% } else { %>
            <tr>
              <td colspan="5" class="text-center text-danger">
                There are no issues to display
              </td>
            </tr>
            <% } %>
  </tbody>
</table>

<%# Socket.IO: Template for the client. The same as above, sort of. %>
<template id="issue-template">
  <tr>
    <td>
      <img alt="Owner Avatar" crossorigin="anonymous" class="user-img">
    </td>
    <td>
      NEW_ISSUE_TITLE
    </td>
    <td>
      NEW_ISSUE_DESCRIPTION
    </td>
    <td class="state-column">
      NEW_ISSUE_STATE
    </td>
    <td class="state-btn-column">
      <form method="POST">
        <button type="submit" class="btn"></button>
      </form>
    </td>
  </tr>
</template>

