<h1>Issues</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>ID</th>
      <th>State</th>
      <th>Owner Avatar</th>
    </tr>
  </thead>
  <tbody>
    <% if (viewData?.issues?.length) { %>
      <% for (const issue of viewData.issues) { %>
        <tr>
          <td>
            <%= issue.title %>
          </td>
          <td>
            <%= issue.description %>
          </td>
          <td>
            <%= issue.id %>
          </td>
          <td>
            <%= issue.state %>
          </td>
          <td>
            <% if (issue.ownerAvatar) { %>
              <img src="<%= issue.ownerAvatar %>" alt="Owner Avatar" width="40" height="40">
              <% } %>
          </td>
        </tr>
        <% } %>
          <% } else { %>
            <tr>
              <td colspan="5" class="text-center text-danger">
                There are no issues to display
              </td>
            </tr>
            <% } %>
  </tbody>
</table>