<h1>Issues</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Owner Avatar</th>
      <th>Title</th>
      <th>Description</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="issue-list">
    <% if (viewData?.issues?.length) { %>
      <% for (const issue of viewData.issues) { %>
        <tr data-id="<%= issue.iid %>">
          <td>
            <% if (issue.ownerAvatar) { %>
              <img src="<%= issue.ownerAvatar %>" alt="Owner Avatar" width="40" height="40">
              <% } %>
          </td>
          <td>
            <%= issue.title %>
          </td>
          <td>
            <%= issue.description %>
          </td>
          <td class="state-column">
            <%= issue.state %>
          </td>
          <td class="state-btn-column">
            <% if (issue.state==='opened' ) { %>
              <form action="/snippets/<%= issue.iid %>/close" method="POST">
                <button type="submit" class="btn btn-primary">Close issue</button>
              </form>
              <% } else { %>
                <form action="/snippets/<%= issue.iid %>/open" method="POST">
                  <button type="submit" class="btn btn-secondary">Open issue</button>
                </form>
              <% } %>
          </td>
        </tr>
        <% } %>
          <% } else { %>
            <tr>
              <td colspan="5" class="text-center text-danger">
                There are no issues to display
              </td>
            </tr>
            <% } %>
  </tbody>
</table>